/* * {
    margin: 0px;
    padding:  0px;
} */

.linkLeft, .linkRight {
    background-color: #38afe5;
    display: inline-block;
    list-style: none;
    text-align: center;
    color: #f6fbfe;
    width: 45px;
    height: 90px;
    line-height: 90px;
    position: relative;
}

.linkLeft {
    /* width: 45px;
    height: 90px;
    line-height: 90px; */
    border-radius: 45px 0px 0px 45px;
    /* content: "\2190"; */
    /* color: #f6fbfe; */
    /* border: 1px solid #85aec1; */
}

.linkRight {
    right: 4px;
    /* width: 45px;
    height: 90px;
    line-height: 90px; */
    border-radius: 0px 45px 45px 0px;
    /* content: "\2192"; */
    /* color: #f6fbfe; */
    /* border: 1px solid #85aec1; */
}

.linkLeft:before, .linkRight:before {
    content: "";
}    

.linkLeft:before {
    /* counter-increment: heading; */
    /* content: counter(heading); */
    display: inline-block;
    /* text-align: center; */
    content: "\2190";
}  

.linkRight:before {
    /* counter-increment: heading;
    content: counter(heading); */
    display: inline-block;
    /* text-align: center; */
    content: "\2192";
}  

.linkRight:hover, .linkLeft:hover {
    opacity: 0.7;
    color: rgb(172, 6, 6);
  }