.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
}

.content {
    font-family: url('https://fonts.googleapis.com/css?family=Merriweather');
    box-shadow: 0 0 5px 2px #B1AFAF;
    border: 1px solid #B1AFAF;
    border-radius: 3px;
    padding-right: 20px;
    padding-left: 20px;
    max-width: 280px;
    margin: 0 auto;
}

ul {
list-style-image: url(http://i.piccy.info/i9/5c37de838813056a530ad17faa6a9c43/1507901251/188/1187300/module_3_task_5_list.png);
}